/* general style css for the entire website  */

* {
    box-sizing: border-box;
  }

  /* background image for the website */
  body {
    background-image: url("https://youthconway.com/ycma_diamond.jpg");
  }
  .navbar {
    min-height: 80px;
  }
  .navbar-brand {
    padding: 10 10px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
  /* formatting for the h1 block*/
h1 {
    font-family: georgia, garamond, serif;
    text-align: center;
    font-size: 60px;
  }

  /* formatting for paragraphs*/
p {
    font-size: 15;
    font-family: Tahoma, georgia;
    margin: auto;
    width: 100%;
  }

h2{
  font-family: Tahoma, georgia;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
 }

/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.image-cropper {
    width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.infoBox div{
    height: 520px;
    margin-left:10px;
    margin-right:10px;
}

#box {
    border-color: #000000;
    border-width: 0px;
    border-style: solid;
    width: 450px;
}

.infoText div {
    text-align: left;
    border-width: 0px;
    border-color: #c8e6c9;
    margin: 0px;
    height: auto;
    width: 400px;
    font-size: 14px;
}

.classTitle div {
    text-align: center;
    font-size: xx-large;
    border-width: 0px;
    margin: 0px;
    border-color: #c8e6c9;
    float: left;
    height: auto;
    width: 400px;

}

.classDesc div {
    text-align: left;
    font-size: x-large;
    border-width: 0px;
    border-color: #c8e6c9;
    margin: 0px;
    height: auto;
    width: 400px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.jumbotron {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: cover;
}

.nav-wrapper {
  background-color: #333333
}
